.title {
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 50px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}

.ingredients, .steps {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    font-size: 28;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.picture {
    max-width: 100%;
}